:root{
  --pink: #E9ADFF;
  --lav: #B3ADFF;
  --cream: #FFFCAD;
  --brown: #807E4F;
  --purple: #724F80;
  --dkpurple: #534F80;
}

html {
  background-color: #000;
  height: 100%;
}

li {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--purple);
  list-style: none;
  padding: 20px;
  margin: 15px 0px ;
  align-content: center;
  border: 3px white solid;
  justify-self: baseline;
}

li h3 {
  align-self: flex-start;
  border: 3px white solid;
  background-color: var(--dkpurple);
}

li p {
  align-self: flex-start;
  border: 3px white solid;
  background-color: var(--dkpurple);
  
}
.dark header {
  background-color: var(--purple);
}

.dark footer {
  background-color: var(--purple);
}

.light header {
  background-color: var(--brown);
}

.light li h3 {
  align-self: flex-start;
  border: 3px white solid;
  background-color: var(--cream);
}

.light li p {
  align-self: flex-start;
  border: 3px white solid;
  background-color: var(--cream);
  
}

.light footer {
  background-color: var(--brown);
}
.light li {
  background-color: #d6c077;
  color: rgb(97, 94, 94);
  
}
